marshmallow==3.2.1
marshmallow-sqlalchemy==0.25.0
sqlalchemy
anyblok
anyblok_pyramid
anyblok_pyramid_beaker
anyblok_pyramid_rest_api
anyblok_address
anyblok_mixins
anyblok_io
anyblok_postgres
anyblok_delivery
anyblok_attachment
anyblok_attachment_jinja
python-barcode

colour 
jinja2
passlib 
furl 
phonenumbers 
pycountry
cryptography
colorama
pygments==2.0.2

-e git+https://github.com/AnyBlok/anyblok_furetui.git#egg=anyblok_furetui

ipdb
ipdbplugin
ipython
nodeenv

-r requirements.test.txt

-e .
