<templates>
  <template id="ERPBlokAccountJournalList">
    <field name="code" />
    <field name="label" />
    <field name="type" />
  </template>
  <template id="ERPBlokAccountJournalForm">
    <div class="columns">
      <div class="column"><field name="code" /></div>
      <div class="column"><field name="label" /></div>
      <div class="column"><field name="type" /></div>
    </div>
    <field name="description" widget="RichText"/>
  </template>
</templates>
