<templates>
  <template id="MixinContactList">
    <field name="type" sortable />
    <field name="value">
      {{ fields.label }}
      <p>
        <div hidden="Not(In(fields.type, ['phone', 'mobile', 'fax']))">{{ fields.phone }}</div>
        <div hidden="Not(Equal(fields.type, 'website'))"><a>{{ fields.url }}</a></div>
        <div hidden="Not(Equal(fields.type, 'email'))">{{ fields.email }}</div>
    </field>
    <field name="label" hidden />
    <field name="phone" hidden />
    <field name="url" hidden />
    <field name="email" hidden />
  </template>
  <template id="MixinContactForm">
    <div class="columns">
      <div class="column"><field name="label"/></div>
    </div>
    <div class="columns">
      <div class="column"><field name="type"/></div>
      <div 
        class="column"
      >
        <field 
          name="phone"
          required="In(fields.type, ['phone', 'mobile', 'fax'])"
          hidden="Not(In(fields.type, ['phone', 'mobile', 'fax']))" 
        />
        <field 
          name="url"
          required="Equal(fields.type, 'website')"
          hidden="Not(Equal(fields.type, 'website'))"
        />
        <field 
          name="email"
          required="Equal(fields.type, 'email')"
          hidden="Not(Equal(fields.type, 'email'))"
        />
      </div>
    </div>
  </template>
  <template id="MixinAddressList">
    <field name="name" sortable/>
    <field name="street" />
    <field name="street_2" />
    <field name="street_3" />
    <field name="zip_code" />
    <field name="city" />
    <field name="country" />
  </template>
  <template id="MixinAddressForm">
    <field name="name" />
    <field name="street" />
    <div class="columns">
      <div class="column"><field name="street_2" /></div>
      <div class="column"><field name="street_3" /></div>
    </div>
    <div class="columns">
      <div class="column"><field name="zip_code" /></div>
      <div class="column"><field name="city" /></div>
      <div class="column"><field name="country" /></div>
    </div>
  </template>
</templates>

